@CHARSET "UTF-8";
.color1 { color : blue; font-size: large; font-weight: bold; }
.color2 { color : orange; font-size: 300%; }
.color3 { color : grey; font-size: em; font-weight: bolder; }

.look1 { align: right;  width: 600px;  border-width: 5px;  border-color: rgb(241,241,0);  margin: 20px 60px; padding: 40px 80px 20px;  background-color: rgb(255,255,183); }
.look2 { align: left;  width: 50%;  border-width: 10px;  border-color: rgb(236,118,0);  margin: 100px 200px; padding: 40px 80px 20px;  background-color: rgb(255,181,106); }
.look3 { align: center;  width: 25%;  border-width: 1px;  border-color: rgb(34,249,91);  margin: 200px 100px 20px 50px; padding: 40px 80px 20px;  background-color: rgb(137,228,183); }
